@extends(layouts/master)

@section(content)

@include(partials/hero)

<div class="container l-main">

	<div class="l-main-workflow" v-if="$store.state.useWorkflow">
		<selection-panel :level="0" type="selector" v-model="selections.carrier">
			<span slot="title">Select your Carrier</span>
		</selection-panel>

		<selection-panel :level="1" type="selector" v-model="selections.brand">
			<span slot="title">Select your Brand</span>
		</selection-panel>

		<selection-panel :level="2" type="selector" v-model="selections.name">
			<span slot="title">Select your Model</span>
		</selection-panel>

		<selection-panel :level="3" type="button-group" v-model="selections.capacity">
			<span slot="title">Select your Capacity</span>
		</selection-panel>
	</div>

	<inspection-panel :level="4" :device="$store.state.selectedDevice"></inspection-panel>

	<quote-panel :level="5" :quote="$store.state.quote"></quote-panel>
</div>



@endsection