<header class="l-hero-row">
	<div class="l-hero-container">
		<div class="l-hero-title">
			<h1>Unlock the true value of your used device.</h1>
			<p>Your old phone or tablet is worth something. Get cash or donate your device today.</p>
		</div>

		<div class="l-hero-body">
			<h2>Discover your Trade-in Value</h2>
			<div class="form-group has-right-btn has-icon">
				<input type="text" class="form-control form-control-lg" placeholder="IMEI/MEID/Serial Number">
				<icon name="smartphone"></icon>
				<button class="btn btn-contrast btn-outline-primary btn-lg">Submit</button>
			</div>
			<div class="text-right">
				<a href="#" >I don't know my serial number</a>
			</div>
		</div>
	</div>
</header>

<div class="l-donate-row">
	<div class="container">
		<h2>Donate your Device</h2>
		<p>Help low-income students in the U.S. obtain the benefits of connectivity and communication.</p>
		<div class="l-donate-buttons">
			<a href="http://sprint.com/1millionproject" class="btn btn-outline-primary">Learn more</a>
			<a href="#" class="btn btn-primary">Donate now</a>
		</div>

	</div>
</div>

<div class="l-status-row">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3>Check your Trade-in Status</h3>
				<a href="#">Need Help?</a>
			</div>
			<div class="col-sm-6">
				<div class="form-group has-right-btn has-icon">
					<input type="text" class="form-control form-control-lg" placeholder="Quote confirmation number">
					<icon name="magnifier"></icon>
					<button class="btn btn-contrast btn-outline-primary btn-lg">Search</button>
				</div>
			</div>
		</div>
	</div>
</div>