@font-face {
	font-family: "Sprint Sans";
	font-weight:100;
	src:local("Sprint Sans");
	src:url('/fonts/Sprint-Sans-Web-Light.woff');
}
@font-face {
	font-family: "Sprint Sans";
	font-weight:300;
	src:local("Sprint Sans");
	src:url('/fonts/Sprint-Sans-Web-Regular.woff');
}
@font-face {
	font-family: "Sprint Sans";
	font-weight:500;
	src:local("Sprint Sans");
	src:url('/fonts/Sprint-Sans-Web-Medium.woff');
}
@font-face {
	font-family: "Sprint Sans";
	font-weight:700;
	src:local("Sprint Sans");
	src:url('/fonts/Sprint-Sans-Web-Bold.woff');
}