$sprint-yellow: #ffce0a;
$sprint-black: #000;
$sprint-lightgray: #f7f7f7;
$sprint-darkgray: #373737;
$sprint-blue: #0088cc;
$sprint-purple: #7d4eff;


$brand-primary: $sprint-yellow;
$brand-success: #7ed321;
$link-color: $sprint-blue;
$font-weight-base: 300;
$font-family-base: "Sprint Sans", "Helvetica", "Arial", sans-serif;
$font-family-sans-serif: $font-family-base;
$headings-font-weight: 700;
$body-bg: $sprint-lightgray;

$btn-border-radius:40px;
$btn-primary-color:black;

