<!DOCTYPE html>
<html>
<head>
    <title>${= data.title}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    ${= data.meta }
    ${= data.styles }
</head>
<body>

<main id="Application" :class="{'nav-open': $store.state.nav}">

    <nav id="Navigation" class="l-navigation">
        <div class="container">
            <a href="https://www.sprint.com"><img src="/svg/sprint-logo_icon.svg" alt="Sprint Logo" class="site-logo"></a>
            <ul class="site-nav-menu">
                <li><a href="#">Get Quote</a></li>
                <li><a href="#DonationSection" v-scroll>1Million Project</a></li>
                <li><a href="#">Support</a></li>
            </ul>
            <div class="mobile-nav-menu hidden-md-up">
                <a href="javascript:;" @click="toggleNav" ><icon name="menu"></icon></a>
            </div>
        </div>
    </nav>

    @yield(content)

</main>

<footer class="l-footer">
    <div class="container">
        <div class="row l-footer-menu">
            <div class="col-sm-3">
                <ul class="link-list">
                    <li class="link-list-header"><a href="#">About</a></li>
                    <li><a href="#">BuyBack Program</a></li>
                    <li><a href="#">1Million Project</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="link-list">
                    <li class="link-list-header"><a href="#">Support</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-6 text-right">

                <img src="/svg/brightstar-logo_full_white.svg" alt="Brightstar Logo" class="logo">
            </div>
        </div>
        <div class="l-footer-submenu text-right">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
        </div>
    </div>
</footer>

${= data.scripts }
</body>
</html>